# <font color='green'> Otimização da cesta de mercado
O conjunto de dados contém itens comprados pelos clientes.

Cada linha corresponde ao item comprado por um cliente em uma fatura.

Objetivo: descobrir quais itens devem ser adicionados em uma oferta de compra e venda.

https://www.kaggle.com/datasets/d4rklucif3r/market-basket-optimisation

## Análise exploratória

In [ ]:
# Importação das bibliotecas
!pip install apyori 
import pandas as pd
from apyori import apriori

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: apyori in /usr/local/lib/python3.8/dist-packages (1.1.2)

In [ ]:
# Leitura das trasações 
dados = pd.read_csv('/content/drive/MyDrive/a-Projetos_DC/Market_Basket_Optimisation.csv')

In [ ]:
dados.shape

(7500, 20)

In [ ]:
dados.head()

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   shrimp             7500 non-null   object
 1   almonds            5746 non-null   object
 2   avocado            4388 non-null   object
 3   vegetables mix     3344 non-null   object
 4   green grapes       2528 non-null   object
 5   whole weat flour   1863 non-null   object
 6   yams               1368 non-null   object
 7   cottage cheese     980 non-null    object
 8   energy drink       653 non-null    object
 9   tomato juice       394 non-null    object
 10  low fat yogurt     255 non-null    object
 11  green tea          153 non-null    object
 12  honey              86 non-null     object
 13  salad              46 non-null     object
 14  mineral water      24 non-null     object
 15  salmon             7 non-null      object
 16  antioxydant juice  3 non-null      object
 17  frozen smoothie    3 non-null      object
 18  spinach            2 non-null      object
 19  olive oil          0 non-null      float64
dtypes: float64(1), object(19)
memory usage: 1.1+ MB

## Tratamento dos dados

In [ ]:
#transformação para o formato de lista, que é exigido pela biblioteca apyori
transacoes = []
for i in range(len(dados)):
  transacoes.append([str(dados.values[i, j]) for j in range(dados.shape[1])])

In [ ]:
type(transacoes)

list

## Aplicação do modelo

Os parâmetros são definidos de acordo com o problema de negócio e sua base de dados.

In [ ]:
# Execução do algoritmo apriori para geração das regras de associação, definindo os parâmetros de suporte e confiança

regras = apriori(transacoes, min_support = 0.003, min_confidence = 0.2, min_lift = 3)
resultados = list(regras)

In [ ]:
len(resultados)

160

In [ ]:
# Criação de uma função para visualizar as regras de associação
A = []
B = []
suporte = []
confianca = []
lift = []

for resultado in resultados:
  s = resultado[1]
  result_rules = resultado[2]
  for result_rule in result_rules:
    a = list(result_rule[0])
    b = list(result_rule[1])
    c = result_rule[2]
    l = result_rule[3]
    A.append(a)
    B.append(b)
    suporte.append(s)
    confianca.append(c)
    lift.append(l)

In [ ]:
# DataFrame com o Resultado das regras de associação
rules_df = pd.DataFrame({'A': A, 'B': B, 'suporte': suporte, 'confianca': confianca, 'lift': lift})
rules_df.sort_values(by = 'confianca', ascending = False)

,A,B,suporte,confianca,lift
347,"[soup, milk, frozen vegetables]","[mineral water, nan]",0.003067,0.766667,3.217683
353,"[soup, nan, milk, frozen vegetables]",[mineral water],0.003067,0.766667,3.217683
180,"[soup, milk, frozen vegetables]",[mineral water],0.003067,0.766667,3.217683
106,"[nan, ground beef, cereals]",[spaghetti],0.003067,0.676471,3.884785
104,"[ground beef, cereals]","[spaghetti, nan]",0.003067,0.676471,3.884785
...,...,...,...,...,...
370,"[milk, ground beef]","[spaghetti, mineral water, nan]",0.004400,0.200000,3.348214
224,"[milk, ground beef]","[spaghetti, mineral water]",0.004400,0.200000,3.348214
118,"[eggs, ground beef]","[mineral water, chocolate]",0.004000,0.200000,3.797468
360,"[nan, shrimp, frozen vegetables]","[spaghetti, mineral water]",0.003333,0.200000,3.348214
280,"[eggs, nan, ground beef]","[mineral water, chocolate]",0.004000,0.200000,3.797468